body {
    margin: 0;
    overflow: hidden;
    background-color: #f9e1e6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.falling-leaves {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
.leaf {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('hoja.png') no-repeat center center;
    background-size: contain;
    opacity: 0.8;
    animation: fall linear infinite;
}
@keyframes fall {
    from {
        transform: translateY(-100px) rotate(0deg);
    }
    to {
        transform: translateY(100vh) rotate(360deg);
    }
}
.container {
    background-color: #ffb6c1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}
.photo {
    width: 250px; /* Ancho aumentado */
    height: 250px; /* Alto aumentado */
    background: url('feliz0.png') no-repeat; /* No es necesario repetir 'center center' si ya se centra con background-position */
    background-size: cover;
    border-radius: 10px;
    margin-left: 10px;
}
.password-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
input[type="password"] {
    width: 120px;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    border: 2px solid #ff6b81; /* Borde original */
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Sombra */
}
.number-pad {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    gap: 5px;
}
.number-pad button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.number-pad button:hover {
    background-color: #ff4757;
}